* {
    margin: 0px;
    padding: 0px;
}

.center-box{
    height: 120px;
    width: 440px;   
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.center-item{
    height: 40px;
    width: 40px;
    background-color: palegoldenrod;
}

#navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex;
    background-color: rgb(140, 184, 252);
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: x-small;
    justify-content: space-evenly;
    
}

#dojopic{
    height:60px;
    width:70px;   
}

h1{ 
    margin-left: 30px;
}

#links{
    list-style-type: none;
    margin-right: auto; 
    margin-left: 15px;
}

#links li{
    display: inline;
    margin-right: auto; 
    margin-left: 85px;
}

a{
    color: white;
    text-decoration: none; 
}